.messages-output {
    height: 80vh;
    border: 1px solid lightgray;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.message-inner {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    min-width: 200px;
    max-width: 90%;
    text-align: left; 
    font: 400 1em, sans-serif;
    display: inline-block;
    border-radius: 5px;
    background-color: #d1e7dd;
}

.incoming-message .message-inner {
    background-color: #ffdab9;
}

.incoming-message {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.message-timestamp-right {
    font-size: 0.7em;
    font-weight: 300; 
    text-align: right;
}

.message-sender {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-date-indicator {
    width: 150px;
    margin: 0 auto;
    padding: 0px !important;
}

.conversation-info {
    padding: 0;
    margin: 0 auto; 
     
}

.conversation-profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
@media (min-width: 576px) {
    .container, .container-sm {
      max-width: 575px !important;
    }
  }